:root{
 /*Colors*/
 --primary-color: #ff6b6b;
 --secondary-color: #FFCB77;
 --cta-color: #227C9D;
 --hover-cta-color: #0e5c79;
 --black: #1F1F1F;
 --gray: #A59E9E;
 --gray-2: #E0E0E0;
 --light-gray: #F9F4F4;
 --lighter-gray: #F1F1F1;
 --white: #fff;

 /*Font sizes*/
 --size-toggle-icon: 1.87rem;
 --size-h1: 2rem;
 --size-title: 1.5rem;
 --size-p-regular: 1rem;
 --size-p-small: 1.25rem;
 --size-p-footer: .8rem;

 /*Font weight*/
 --font-regular: 400;
 --font-medium: 500;
 --font-semibold: 600;
 --font-bold: 700;
}

*{
 box-sizing: border-box;
 margin: 0 auto;
 padding: 0;
 font-family: 'Roboto', san-serif;
 list-style: none;
 text-decoration: none;
 color: var(--black);
}

header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 top: 0;
 left: 0;
 z-index: 100;
 padding: 16px 32px;
 background-color: var(--primary-color);
 transition: all .50s ease;;
}

.logo{
 font-family: 'Poppins', sans-serif;
 font-weight: var(--font-bold);
 color: var(--white);
 font-size: var(--size-title);
}

.logo span{
 color: var(--cta-color);
}

.nav__list{
 display: flex;
 align-items: center;
}

.nav__link, .contact__btn{
 margin-left: 32px;
}

.nav__link, .btn, .contact__btn{
 color: var(--white);
 font-size: var(--size-p-regular);
 font-weight: var(--font-medium);
 transition: all .35s ease;
 border: none;
}

.nav__link:hover{
 color: var(--cta-color);
}

.btn{
 background-color: var(--cta-color);
 border-radius: 8px;
 padding: 12px 16px;
 font-weight: 600;
 cursor: pointer;
}

.btn:hover{
 background-color: var(--hover-cta-color);
}

/*responsive menu*/
.nav__toggle, .nav__close{
 font-size: var(--size-toggle-icon);
 z-index: 10001;
 cursor: pointer;
 color: var(--white);
 display: none;
 transition: all .50s ease;
}

.nav__toggle:hover, .nav__close:hover{
 color: var(--cta-color);
}

/*SECTIONS*/
.section{
 padding-top: 48px;
}

.section__title{
 margin-bottom: 24px;
 font-weight: var(--font-medium);
 font-size: var(--size-title);
}

.skills__title, .projects__title h2 {
 text-align: center;
}

/*HERO*/
.hero{
 display: flex;
 justify-content: center;
 background-color: var(--secondary-color);
}

.half{
 display: block;
}

.half__img{
 display: flex;
 justify-content: center;
 margin-top: 32px;
 margin-bottom: 24px;
}

.half__img img{
 height: 14.37rem;
 width: 40%;
}

.half__content__text{
 text-align: center;
 margin-bottom: 40px;
}

.half__content__text h1{
 margin-bottom: 16px;
 font-size: var(--size-h1);
 font-family: 'Outfit', sans-serif;
 font-weight: var(--font-bold);
 font-style: italic;
}

.half__content__text h3{
 font-size: var(--size-p-small);
 font-weight: var(--font-medium);
 margin-bottom: 8px;
 width: 100%;
 line-height: 1.5rem;
 padding: 0 16px;
}

.half__content__btn{
 width: 100%;
 display: flex;
 justify-content: center;
 margin-bottom: 8px;
}

.half__content__btn__center{
 display: inline-block;
 text-align: center;
 margin-bottom: 32px;
}


.btn__social, .btn__download{
 margin-left: 24px;
}

.btn__social i, .btn__download i{
 color: var(--white);
}

.btn__download i{
 margin-right: 8px;
}

/*SKILLS*/
.skills{
 width: 100%;
}

.skills__items{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(8rem, 8fr));
 grid-gap: 1rem;
 width: 100%;
}

.skills__items__item{
 width: 100%;
 position: relative;
 transition: all .30s ease;
 vertical-align: bottom;
 text-align: center;
}

.skills__items__item:hover{
 transform: translateY(-5px) scale(1.08);
}

.skills__items__item i{
 font-size: var(--size-title);
 color: var(--primary-color);
}

.skills__items__item p{
 margin-top: 8px;
}

/*PROJECTS*/
.projects__cards{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.projects__card{
 width: 21.87rem;
 background-color: var(--light-gray);
 border: 1px solid var(--primary-color);
 border-radius: 8px;
 box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
 overflow: hidden;
 margin: 20px;
 transition: all .50s ease;
}

.projects__card:hover{
 transform: scale(1.02);
}

.projects__card img{
 width: 100%;
 height: auto;
}

.projects__card__content{
 padding: 16px;
}

.projects__card__content h3{
 font-size: var(--size-p-small);
 margin-bottom: 16px;
 text-align: center;
 color: var(--primary-color);
}

.projects__card__tags{
 display: inline-flex;
 margin-left: 16px;
 margin-bottom: 16px;
}

.projects__card__tags p{
 font-size: var(--size-p-footer);
 background-color: var(--secondary-color);
 border: none;
 border-radius: 16px;
 padding: 4px 10px;
 margin-right: 24px;
}

.descr{
 text-align: justify;
 height: auto;
 line-height: 1.5rem;
 width: 95%;
}

.descr span{
 font-weight: var(--font-semibold);
}

.projects__card__btn{
 display: flex;
 margin-top: 24px;
 margin-bottom: 16px;
 width: 80%;
}


.btn__code{
 background-color: var(--lighter-gray);
 color: var(--cta-color);
 border: 1.2px solid var(--cta-color);
}

.btn__code:hover{
 background-color: var(--gray-2);
}

.contact{
 margin-bottom: 48px;
}

.contact__text{
 width: 100%;
 display: inline-block;
 justify-content: center;
 text-align: center;
}

.contact__text p{
 padding: 0 16px;
 margin-bottom: 32px;
 font-size: var(--size-p-small);
 line-height: 1.5rem;
}

.span__linkedin{
 font-style: italic;
 font-weight: var(--font-medium);
 transition: all .2s ease;
}

.span__linkedin:hover{
 border-bottom: 2px solid var(--cta-color);
}

.contact__form{
 display: flex;
 justify-content: center; 
}

.contact__form__content{
 min-width: 60%;
 display: flex;
 flex-direction: column;
 padding: 0 50px;
}

.contact__form__input{
 margin-bottom: 24px;
 width: 100%;
 border-radius: 8px;
 border: 1px solid var(--primary-color);
 padding: 12px;
 font-size: var(--size-p-regular);
 outline: none;
}

.contact__form__input:focus{
 box-shadow: 0 0 5px var(--primary-color);
}

.contact__form__area{
 margin-bottom: 0;
 resize: none;
 padding-bottom: 3.5rem;
}

.contact__message{
 margin-left: 0;
 margin-top: 8px;
 font-style: italic;
}

.btn__contact{
 display: flex;
 align-items: center;
 width: 14.37rem;
 margin-left: 0;
 justify-content: center;
 margin-top: 16px;
}

.btn__contact i{
 font-size: var(--size-p-regular);
 color: var(--white);
 margin-left: 4px;
 margin-right: 0px;
}
