:root{
 /*Colors*/
 --primary-color: #ff6b6b;
 --secondary-color: #FFCB77;
 --cta-color: #227C9D;
 --hover-cta-color: #0e5c79;
 --black: #1F1F1F;
 --gray: #A59E9E;
 --light-gray: #F9F4F4;
 --white: #fff;

 /*Font sizes*/
 --size-toggle-icon: 1.87rem;
 --size-h1: 2rem;
 --size-title: 1.5rem;
 --size-p-regular: 1rem;
 --size-p-small: 1.25rem;
 --size-p-footer: .8rem;

 /*Font weight*/
 --font-regular: 400;
 --font-medium: 500;
 --font-semibold: 600;
 --font-bold: 700;
}

*{
 box-sizing: border-box;
 margin: 0 auto;
 padding: 0;
 font-family: 'Roboto', san-serif;
 list-style: none;
 text-decoration: none;
 color: var(--black);
}

header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 top: 0;
 left: 0;
 z-index: 100;
 padding: 16px 32px;
 background-color: var(--primary-color);
 transition: all .50s ease;;
}

.logo{
 font-family: 'Outfit', sans-serif;
 font-weight: var(--font-bold);
 color: var(--white);
 font-size: var(--size-title);
}

.logo span{
 color: var(--cta-color);
}

.nav__list{
 display: flex;
 align-items: center;
}

.nav__link, .contact__btn{
 margin-left: 32px;
}

.nav__link, .btn, .contact__btn{
 color: var(--white);
 font-size: var(--size-p-regular);
 font-weight: var(--font-medium);
 transition: all .35s ease;
 border: none;
}

.nav__link:hover{
 color: var(--cta-color);
}

/*responsive menu*/
